---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Staking All-Chains',
};
---

<Layout metadata={metadata}>
 <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=69a47af3200264b38d859e1e&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
     actions={[
      {
        variant: 'secondary',
        target: '_blank',
        text: 'MonadV',
        href: 'https://monadvision.com/validators',
        icon: 'tabler:link',
      },
      {
        variant: 'secondary',
        target: '_blank',
        text: 'GMonads',
        href: 'https://www.gmonads.com/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'Lagoon',
        href: 'https://app.lagoon.finance/vault/143/0x0da39b740834090c146dc48357f6a435a1bb33b3?return=%2F&from=vaults',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '_blank',
        text: 'DeTrade',
        href: 'https://app.detrade.fund/',
        icon: 'tabler:link',
      },
       {
        variant: 'secondary',
        target: '',
        text: 'Staking',
        href: '/bitcoin/btc.2',
        icon: 'tabler:circle-arrow-up-right',
      },
       
    ]}
  >
    <Fragment slot="title">
       <span class="hidden sm:inline"></span>  <span
        class="text-accent dark:text-white"></span
      > Staking All-Chains
      </Fragment>
   <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Methods to Earn: </span> Yield can be earned through native staking
        </span
       
      >
</Fragment>

    <Fragment slot="subtitle">
   <script type="module" src="https://widgets.tradingview-widget.com/w/en/tv-ticker-tape.js"></script>

<tv-ticker-tape symbols="COINBASE:AVAXUSD,BITSTAMP:FTMUSD,COINBASE:ARBUSD,CRYPTO:MOVRUSD" item-size="compact" transparent></tv-ticker-tape>
 <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/a24215aa-7cb7-4bd4-a60a-0320f876091f/VTbycJ2TWx.lottie" speed="1" style="width: 100%; height: 500px" mode="forward" loop autoplay></dotlottie-wc>
    </Fragment>

    <Fragment slot="image">
      
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="Key Aspects of Monad Staking:"
    subtitle="Monad yield refers to the returns earned from staking or participating in the ecosystem of Monad, a high-performance, parallelized Ethereum-compatible (EVM) Layer-1 blockchain. As of late 2025, staking rewards for the MON token are approximately 16% APR, with, for example, 30 AWC tokens provided monthly per 1,000 MON staked."
  >
   
  </Features2>

  <!-- Stats Widget ****************** -->
</Hero>

  <!-- Note Widget ******************* -->
<script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "4ab7df9e-18f3-42ef-94c8-2fae15dbe5cd"
  });
</script>
  
</Layout>
